.heading-container {
    text-align: center;
  }
  
  .responsive-heading {
    font-size: 2rem; /* Default font size */
  }
  
  .last-word {
    color: #33cc33; /* Green color for the last word */
  }
  