.footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.left img {
    max-width: 50%;
    max-height: 900px;
}

.right {
    margin-top: 20px;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    .footer1 {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .right {
        margin-top: 0;
        max-width: 60%; /* Adjust the width as needed */
    }
}
@media (max-width: 767px) {
    .left img {
      width: 100vw;
      height: 56.25vw; /* Maintains 16:9 aspect ratio */
    }
  }