.image-gallery {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: space-between;
  }
  
  .image-container {
    flex: 1;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: calc(25% - 20px); /* Adjust for four items per row */
    flex-basis: calc(25% - 20px); /* Adjust for four items per row */
  }
  
  @media screen and (max-width: 768px) {
    .image-container {
      max-width: calc(33.333% - 20px); /* Adjust for three items per row */
      flex-basis: calc(33.333% - 20px); /* Adjust for three items per row */
    }
  }
  
  @media screen and (max-width: 576px) {
    .image-container {
      max-width: calc(50% - 20px); /* Adjust for two items per row */
      flex-basis: calc(50% - 20px); /* Adjust for two items per row */
    }
  }
  
  @media screen and (max-width: 480px) {
    .image-container {
      max-width: 100%; /* Display one item per row on smaller screens */
      flex-basis: 100%; /* Display one item per row on smaller screens */
    }
  }
  
  .image-container:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .info {
    padding: 20px;
  }
  