.caption-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .caption-content button {
    margin-top: 10px; /* Adjust margin as needed */
  }
  

.carousel{
    position: relative;
}
button{

    width:150px;
    height:38px;
    border:1px solid;
    border-radius: 75px;
    color:rgb(7, 28, 2);
    font-size: 20px;
    background: rgb(50, 210, 48);
    cursor: grab;
}
 button:active{
    background-color: rgb(21, 225, 140);
}



@media (max-width: 767px) {
  .carousel-item img {
    width: 100vw;
    height: 56.25vw; /* Maintains 16:9 aspect ratio */
  }
}
